
<div class="row">
    <div class="jumbotron text-center">
        <h1>Park&Go</h1>
        <p>An app to avoid the worst part of going to places. Looking for a parking!</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <h2>About</h2>
        <h4>This is a simple app, to help you reserve a parking ahead of time. This saves you the frustration of finding a close parking spot. </h4>
    </div>
    <div class="col-sm-4">
      <img class="img-centered" src="http://www.freeiconspng.com/uploads/parking-icon-png-20.png" style="max-height:15em">
    </div>
  </div>

<div class="row">
  <div class="text-center bg-grey">
    <h2>Locations</h2>
    <h4>Shopping malls that use our services</h4>
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://www.virtualizate.net/wp-content/uploads/2016/08/Nueva-fachada-2012.jpg" alt="PlazalasAmericas">
          <p><strong>Plaza Las Americas</strong></p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://images.ddr.com/property/assets/20072_102337348_WebsiteGroundPhotograph.jpg" alt="PlazadelSol">
          <p><strong>Plaza Del Sol</strong></p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://2c2f06a14a9ade4267e6-fb8aac3b3bf42afe824f73b606f0aa4c.r92.cf1.rackcdn.com/propertyimages/1319/puerto-rico-premium-outlets-06.jpg" alt="LosOutletsBarceloneta">
          <p><strong>Outlets de Barceloneta</strong></p>
        </div>
      </div>
  </div>
</div>
